.app__form {
  justify-content: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  padding: 5px;
}

.app__input {
  flex: 1;
  border-radius: 10px;
  margin-right: 5px;
  padding: 8px;
}

.app__chatRoom {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.app__sendButton {
  flex: 0;
  margin-right: 10px;
}
