.app__form {
  justify-content: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  padding: 5px;
}

.app__input {
  flex: 1;
  border-radius: 10px;
  margin-right: 5px;
  padding: 8px;
}

.app__chatRoom {
  display: flex;
  border: 1px solid black;
  padding: 20px;
}

.app__sendButton {
  flex: 0;
  margin-right: 10px;
}
